.footer{
    height: 100px;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	/* margin-bottom: 4rem; */
    background-color: #000000;
}

.text{
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    color: #ffffff;
}